{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3">Lab Sign-in</h1>
            <p>Select your name from the list below to get started.</p>
                <p>
                    <form method="POST">
                        {% csrf_token %}
                        <select name="member_name" class="form-control">
                             {% for  member in member_list %}
                                 <option value="{{ member.name }}">{{ member.get_name_display }}</option>
                             {% endfor %}
                        </select><br>
                        <button type="submit" value="Submit" class="btn btn-primary">Log In</button>
                    </form>
                </p>
        </div>
    </div>
    <div class="card card-body">
    <h6>What's New: </h6>
    <ul>
        <li>Added a "forgot to sign in" form</li>
        <li>Added a view of who's in lab at the moment (in the hamburger menu)</li>
        <li>Some minor visual tweaks</li>
    </ul>
    </div>

{% endblock %}