{% extends 'mainapp/base.html' %}
{% block title %}{{ profile_user.username }} | Bumpr{% endblock %}
{% load static %}
{% block content %}
    {% load crispy_forms_tags %}
    <div class="container text-center">
        <div class="jumbotron jumbotron-fluid">
            <h1>Correcting Hours for {{ member.get_name_display }}</h1>
            <p>You've been signed in since <b>{{ member.sign_in_time }}</b>. How many hours did you complete?</p>
            <div class="container">
                <form method="post">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <button type="submit" value="Submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}