{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
    {% load crispy_forms_tags %}
    <div class="container text-center">
        <div class="jumbotron jumbotron-fluid">
            <h1>Backlog Hours for {{ member.get_name_display }}</h1>
            <div class="container">
                <form method="post">
                    {% csrf_token %}
                    <label for="date">What day did you come in?</label>
                    <input type="date" name="date" class="form-control dateinput" required id="id_date"><br>
                    <label for="id_hours">How many hours did you do?</label>
                    <input type="number" name="hours" min="0" max="12" step="0.01" class="numberinput form-control" required id="id_hours" placeholder="Enter a number here"/><br>
                    <button type="submit" value="Submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}