{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

    <div class="container text-center">
        {% if member.forgot_to_sign_out %}
            <br>
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                Looks like you forgot to sign out! Use the <b>Forgot to Sign Out</b> feature to fix things up.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}
        <div class="jumbotron jumbotron-fluid">
            <h1>{{ member.get_name_display }}</h1>
            <p>You have <b>{{ member.get_hours }}</b> hours on record</p>
            <p>
                {% if member.is_signed_in %}
                    You've been signed in since {{ member.sign_in_time }}<br><br>
                    <form method="post">
                        {% csrf_token %}
                        <div class="container-fluid"><input type="text" name="text" class="form-control" placeholder="(Optional) Describe what you did!"><br></div>
                        <button type="submit" value="Submit" class="btn btn-primary btn-lg">Sign <b>out</b> &raquo;</button>
                        <a class="btn btn-outline-primary btn-lg" href="{% url 'member_time_correction' member_name=member.name %}" role="button">Forgot to sign out? &raquo;</a>

                    </form>
                {% else %}
                    You were last active on {{ member.sign_out_time }}<br><br>
                    <a class="btn btn-primary btn-lg" href="{% url 'member_signin' member_name=member.name %}" role="button">Sign <b>in</b> &raquo;</a>
                    <a class="btn btn-outline-primary btn-lg" href="{% url 'member_time_correction_in' member_name=member.name %}" role="button">Forgot to sign in? &raquo;</a>
                {% endif %}
            </p>
        </div>
        <h3>Timeline</h3>
        {% for tlblock in timeline_list %}
            <div class="card">
                <h5 class="card-header bg-primary text-white">{{ tlblock.header }}</h5>
                <div class="card-body">
                    <h6 class="small">{{ tlblock.subtitle }}</h6>
                    <p class="card-text">{{ tlblock.content }}</p>
                </div>
            </div>
            <br>
        {% endfor %}
        <a class="btn btn-primary btn-lg" href="{% url 'member_correction' member_name=member.name %}" role="button">Backlog Hours</a>
    </div>
    <br>

{% endblock %}